<body ng-app="SMSMessengerApp" style="background-color: #f5f5f5;">
    <div ng-controller="MessagesController" style="display: flex; justify-content: center;">
        <%= render 'message_form' %>
        <%= render 'message_list' %>
    </div>
</body>
