<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);

        app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
    }]);

    app.controller('MessagesController', function($scope, $http) {
      $scope.newMessage = {};

      $scope.sendMessage = function() {
        $http.post('/messages.json', $scope.newMessage).then(function(response) {
          $scope.messages.push(response.data);
          $scope.newMessage = {};
        }, function(error) {
          console.error('Error sending message:', error);
        });
      };

      $http.get('/messages.json').then(function(response) {
        $scope.messages = response.data;
      });
    });
</script>

<body ng-app="myApp">
  <div ng-controller="MessagesController">

    <h1>All Messages</h1>

    <form ng-submit="sendMessage()">
      <p>New Message</p>
      <div>
        <label for="to">Phone Number</label>
        <input type="text" id="to" ng-model="newMessage.to">
      </div>
      <div>
        <label for="text">Message</label>
        <textarea id="text" ng-model="newMessage.text"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>

  </div>
</body>
